
body{
    background: royalblue;
    height: 500px;
}
footer{
    background: grey;
    padding: 15px 20px;
    text-align: center;
    margin-top: 18px
}
/* Contact page  */
.contact-container-name{
    width: 80px;
}

.image-size{
    height: 300px;
    width: 475px;
}
.container{
    width:975px;
    margin-top: 35px;
}
#message-height{
    height: 200px;
}


#move-nav-bar {
    display: flex !important;
    justify-content: flex-end !important;
}

/* Contact page  */

/* About Me Page */
#about-me-card{
    height: 411px;
}

/* About Me Page */
